<%= form_with model: @idea, local: true do |f|%>
<h3>What's Your Idea?</h3>
<% if @idea.errors.present?%>
    <%= @idea.errors.full_messages/join(", ")%>
<% end %>
<div>
<%= f.label :title%> <br>
<%= f.text_field :title%>
</div>

<div>
<%= f.label :description%> <br>
<%= f.text_field :description%>
</div>

<%= f.submit%>
<% end %>