<h1>Create New Idea Post</h1>

<%= form_with model: @idea, local: true do |f|%>
<h3>What's Your Idea?</h3>
<div>
<%= f.label :title%> <br>
<%= f.text_field :title%>
</div>

<div>
<%= f.label :description%> <br>
<%= f.text_field :description%>
</div>

<%= f.submit%>
<% end %>