<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <nav>
      <%= link_to 'Home', ideas_path %>
      |
      <%= link_to 'New Idea', new_idea_path %>
      |
      <%= link_to 'Sign In', new_session_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
