<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <nav>
      <%= link_to 'Home', ideas_path %>
      |
      <%= link_to 'New Idea', new_idea_path %>
      |
      <% if user_signed_in?%>
      Hello, <%= current_user.first_name%>!
      <%= link_to 'Logout', session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign In', new_session_path %>
      |
      <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </nav>
  </header>

  <body class = "m-4">
  <% flash.each do |type, message|%>
    <div>
      <strong><%= message %></strong>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
